<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a>
    <a *ngIf="loginService.isUserLoggedIn()" class="navbar-brand" routerLink="/list-ticket" >Booking List</a>
    <a *ngIf="loginService.isUserLoggedIn()" class="navbar-brand" routerLink="/add-ticket">Booking New Ticket</a>
    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <router-outlet></router-outlet>